# Entornos virtuales
.venv/
venv/
env/
tesis/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Metadata de paquetes Python
*.egg-info/
build/
dist/

# Configuración de VS Code
.vscode/

# Archivos temporales
*.log
.DS_Store
Thumbs.db

# Datos pesados o resultados
outputs/
*.csv
*.xlsx
*.mat